<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" id ="store-title" href="/">The E-Commerce Empourium</a>
  <ul class="nav">
    <li> <a class="nav-link text-white" href="/">Create Transactions</a> </li>
    <li> <a class="nav-link text-white" href="/search">Transaction Search</a> </li>
  </ul>
</nav>
