<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" id ="store-title" href="/">The E-Commerce Empourium</a>
  <ul class="nav">
    <li> <a class="nav-link text-white" href="/" onclick="document.body.style.cursor='wait'; return true;">Create Transactions </a> </li>
    <li> <a class="nav-link text-white" href="/search" onclick="document.body.style.cursor='wait'; return true;">Transaction Search</a> </li>
  </ul>
</nav>
