<nav class="navbar navbar-default navbar-light" style="background-color: #ff6600;">
  <a class="navbar-brand" id ="store-title" href="/">The E-Commerce Empourium</a>
  <ul class="nav">
    <li> <a class="nav-link text-white" href="/">Create Transactions</a> </li>
    <li> <a class="nav-link text-white" href="/history">Transaction Search</a> </li>
  </ul>
</nav>
