body {
  font-family: "verdana";
}

#store-title {
  font-weight: bold;
}

h3 {
  padding-top: 10px;
}

#result-page {
  text-align: center;
}

.nav-link:hover {
  box-shadow: 0px 5px 9px rgba(115, 115, 115, .3);
}
}
